<?xml version="1.0"?>
<robot name="agilex_piper_arm_gripper" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Load arguments -->
  <xacro:arg name="can_interface" default="can0"/>
  <xacro:arg name="use_mock_hardware" default="false"/>

  <!-- Include the arm description -->
  <xacro:include filename="$(find agilex_piper_arm_description)/urdf/agilex_piper_arm_macro.xacro"/>

  <!-- Include the gripper description -->
  <xacro:include filename="$(find agilex_piper_gripper_description)/urdf/agilex_piper_gripper_macro.xacro"/>

  <!-- Include ros2_control configuration -->
  <xacro:include filename="$(find agilex_piper_ros2_control)/urdf/agilex_piper_ros2_control.xacro"/>

  <!-- World link (for fixed mounting) -->
  <link name="world"/>

  <!-- Mount the arm to world -->
  <xacro:agilex_piper_arm prefix="" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:agilex_piper_arm>

  <!-- Mount the gripper to the arm's tool0 link -->
  <xacro:agilex_piper_gripper prefix="" parent="tool0">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:agilex_piper_gripper>

  <!-- Add ros2_control -->
  <xacro:agilex_piper_ros2_control
    name="AgilexPiperSystem"
    can_interface="$(arg can_interface)"
    use_mock_hardware="$(arg use_mock_hardware)"
    include_gripper="true"/>

</robot>
